@page
@model IndexModel 
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the RPG Game</h1>
    @foreach (var _item in Adventure2020.Services.LocationProvider.Locations)
    {
        <p>@_item</p>
    }


</div>
