@page
@model IndexModel 
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the RPG Game</h1>
    <div><a asp-page="Start" class="btn">Start</a></div>
</div>
