@page
@model Adventure2020.StartModel
@using Adventure2020.Models;
@{
    ViewData["Title"] = "Start";
}
    <div class="text-center">
        <h1>@Model.Location.Title</h1>
        <div>@Model.Location.Description</div>

        @foreach (var target in Model.Directions)
        {
            <a class="btn btn-secondary" asp-page="Place" asp-route-id="@target.To">@target.Description</a>

        }

    </div>

